html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: hsl(0, 0%, 60%);
  letter-spacing: 1px;
}

h1, h2 {
  color: hsl(0, 0%, 30%);
  font-weight: bold;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  color: hsl(0, 0%, 40%);
  font-weight: bolder;
}

p {
  line-height: 1.5;
}

/* header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 24px;
  font-weight: 500;
}

.colmar {
  color: hsl(0, 0%, 30%);
}

.academy {
  color: gainsboro;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: turquoise;
  margin: auto 1.5rem;
}

nav ul li {
  background-color: white;
  padding: 1.5rem 0;
}

/* put stupid looking turquoise shim between nav elements */

nav ul li:nth-child(1n + 2) {
  margin-left: 1rem;
}

nav a {
  color: slategray;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: flex-start;
  background-color: gainsboro;
}

.wide {
  margin: 1.5rem;
  width: 60%;
}

.wide img {
  width: 100%;
  height: auto;
}

.narrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.button {
  background-color: hsl(0, 0%, 30%);
  color: white;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}

.button h3 {
  font-weight: normal;
}

h1, .button {
  margin: 1.5rem 0;
}

/* Information section */

.info {
  display: flex;
  justify-content: flex-start;
}

.info p {
  font-size: .75rem;
  margin: 0.5rem 2rem 0.5rem 0;
}

.citation {
  margin: 2rem 0 2rem 0;
  color: hsl(0, 0%, 30%);
}

.infobite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gainsboro;
}

.infobite img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.infobite a {
  text-decoration: none;
  color: lightskyblue;
  font-size: .75rem;
  margin-top: 1.5rem;
}

.oliver {
  background-color: gainsboro;
}
