/* Site settings */
html {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: hsl(0, 0%, 60%);
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.site {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid hsl(0, 0%, 90%);
}

h1, h2, h3, h4, p {
  line-height: 1.5;
}

h1, h2 {
  color: hsl(0, 0%, 30%);
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
  padding: 2rem 0;
}

h3 {
  color: hsl(0, 0%, 40%);
  font-weight: bolder;
  padding: 1rem 0 0.5rem 0;
}

h4 {
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
}

p {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

/* header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 24px;
  font-weight: 500;
}

.colmar {
  color: hsl(0, 0%, 30%);
}

.academy {
  color: gainsboro;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: turquoise;
  margin: auto 1.5rem;
}

nav ul li {
  background-color: white;
  padding: 1.5rem 0;
}

/* put stupid looking turquoise shim between nav elements */

nav ul li:nth-child(1n + 2) {
  margin-left: 1rem;
}

nav a {
  color: slategray;
}

.banner {
  display: flex;
  justify-content: flex-start;
  background-color: gainsboro;
}

.wide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1.5rem;
  width: 60%;
}

.wide img {
  width: 100%;
  height: auto;
}

.narrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 71%;
}

.button {
  background-color: hsl(0, 0%, 30%);
  color: white;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
}

/* Information section */

.info {
  display: flex;
  justify-content: flex-start;
}

.info h2 {
  padding-bottom: 1rem;
}

.citation {
  padding-top: 2rem;
  font-size: 0.7rem;
  color: hsl(0, 0%, 35%);
}

.info .narrow {
  border-left: 1px solid gainsboro;
}

.infobite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.infobite img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.infobitetext {
  display: flex;
  flex-direction: column;
}

.infobitetext a {
  color: lightskyblue;
  font-size: 0.75rem;
  padding: 0.5rem 0 1rem 0;
}

.oliver {
  background-color: gainsboro;
}

/* Courses section */

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}

.school {
  display: flex;
  flex-direction: column;
  width: 29.5%;
  height: auto;
  margin: 1rem;
  background-color: white;
}

.school img {
  width: 100%;
  height: auto;
}

.school .text {
  padding: 1rem;
}
